body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #c000de;
}


header {
    background: linear-gradient(0deg, rgb(130, 34, 148), rgb(233, 53, 248));
    color: #fff;
    text-align: center;
    padding: 20px;
}


h1 {
    margin: 0;
}


main {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
}


ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
}

a:hover {
    color: #bdbdbd;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: linear-gradient(0deg, rgb(130, 34, 148), rgb(233, 53, 248));
    color: #fff;
}