* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }

  .container {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background: linear-gradient(135deg, #e3dbf6, #a99bf9);
  }

  .card {
    width: 100%;
    max-width: 525px;
    height: auto;
    margin: 30px auto 0;
    border-radius: 1.5rem;
    background: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
  }

  .card-inner {
    padding: 45px;
    padding-top: 70px;
  }

  #text01 {
    font-weight: 500;
    font-size: 1em;
    line-height: 2;
    color: #594D4D;
    margin-bottom: 20px;
  }

  #text02 {
    font-weight: 600;
    font-size: 3.625em;
    line-height: 1.125;
    letter-spacing: -0.175rem;
    width: 100%;
    color: #594D4D;
    margin-bottom: 20px;
  }

  #text03 {
    color: #594D4D;
    font-size: 1.05em;
    line-height: 2;
    font-weight: 400;
    margin-bottom: 35px;
  }

  #icons {
    font-size: 1.625em;
    gap: 1.25rem;
    letter-spacing: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .icon {
    background: #9a89f9;
    padding: 10px;
    border-radius: 50px;
  }

  .icon svg path {
    fill: #fff;
  }